*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFF5E2;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    width: 50%;
    
}
.container{
    width: 85%;
    margin: auto;
}

/* HEADER  */
header{
    background-color: #FDBB40;
    position: relative;
}
header img{
    position: absolute;
    right: -4rem;
    width: 170px;
    height: auto;
    top: -0.5rem;
}
h1{
    padding: 2.5rem 0 1rem 0;
}

/* /HEADER  */

/* MAIN*/
main{
    background-color: white;
}

#burgher-name{
    margin: 2rem 0;
    font-size: 1.4rem;
    border:0;
}
h4{
    font-size: 1.1rem;
}

.form-ingredients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul>li{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding:1.5rem 0;
}


#discount{
    border: 0;
    background-color: #FFF5E2;
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
    border-radius: 5px;
     
}
.discount-group{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.discount-group label{
    width: 25%;
}

.discount-group input{
    width: 60%;
}

#calc_price{
    padding: 0.8rem 1rem;
    border:0;
    font-weight: bold;
    border-radius: 5px;
    margin: 1.5rem 0 5rem 0;
    background-color: #FDBB40;
}




/* /MAIN*/


/* FOOTER  */
footer{
    background-color: #D33359;
}
footer .container{
    padding: 1rem 0 1.5rem 0;
    color: white;
}
footer p:first-of-type{
font-size: 1.1rem;
}
#price{
    font-size: 1.2rem;
}
/* /FOOTER  */




.food-emoticon{
    width: 30px;
    height: 100%;
}
/* UTILITY CLASS */
.list-none{
    list-style:none;
}
.mx-1{
    margin:0 1rem;
}
.ml-05{
    margin-left: 0.5rem;
}

.d-flex-nowrap{
    display: flex;
    flex-wrap: nowrap;
}

.d-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
.flex-between{
    justify-content: space-between;
}
.half_flex-basis{
    flex-basis: 50%;
}
/* /UTILITY CLASS */
